<div class="main">
        <ma-drag-region></ma-drag-region>
        <div class="app" id="root">
            <ma-action></ma-action>
            <div class="loading-screen">
                <div id="loading"></div>
            </div>
        </div>
    </div>